.header {
	background-color: #f4f4f4;
}

.redbox {
	background-color: #ff0000;
	color: #ffffff;
}

.lightgrey {
	background-color: #999999;
	color: #ffffff;
}

.darkergrey {
	background-color: #666666;
	color: #ffffff;
}

.darkestgrey {
	background-color: #333333;
	color: #ffffff;
}

.yellow {
	background-color: #cfa339;
	color: #ffffff;
}

.purple {
	background-color: #55148c;
	color: #ffffff;
}

.teal {
	background-color: #376d6a;
	color: #ffffff;
}

.black {
	background-color: #000000;
	color: #ffffff;
}

.green {
	background-color: #008000;
	color: #ffffff;

}

.pink {
	background-color: #ff66cc;
	color: #ffffff;
}

.brown {
	background-color: #7b3f00;
	color: #ffffff;
}

.orange {
	background-color: #FF5733;
	color: #ffffff;
}

.blue {
	background-color: #33A2FF;
	color: #ffffff;
}

.magenta {
	background-color: #5E1769;
	color: #ffffff;
}

.durple {
	background-color: #775F66;
	color: #ffffff;
}

.lightgreen {
	background-color: #93A496;
	color: #ffffff;
}




















